#search {
    text-align: center;
}
.help {
    
	width:500px;
	margin:0 auto;
}
.header {
	margin-left:100px;
	margin-right:100px;
	margin-bottom:50px;	
}
#result {
	margin-left:50px;
	margin-right:50px;
}
#nav {
	font-weight:bold;
}
div.butt input {
    margin: 10px 0 0 10px;
    background: red;
    color: #fff;
    width: 100px;
    height: 30px;
    font: 14px Verdana, Arial, Helvetica, sans-serif;
}
#con {
    height:45px;
    text-align:center;
	margin-bottom:20px;
}
.fenye {
    margin: 4px 10px 4px 10px;
    display:inline-block;
    color: #006400;;
    width: 32px;
    height: 32px;
    text-align:center;
    font: 24px Verdana, Arial, Helvetica, sans-serif;
}
#foot{
    margin: 0 auto;
    text-align: center;
    font-size:12px;
    font-family:"Open Sans", "Helvetica", "Arial", "Hiragino Sans GB", "Noto Sans CJK SC", "Heiti SC", "Microsoft YaHei", "WenQuanYi Microhei", serif；
}
.chaxun {
    margin: 10px 0 0 10px;
    background: #AAD7FF;
    width: 80px;
    height: 28px;
    font: 14px Verdana, Arial, Helvetica, sans-serif;
}
.smile {
    font: 80px Verdana, Arial, Helvetica, sans-serif;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
.bigsmile {
    font: 180px Verdana, Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.ssmile {
    font: 50px Verdana, Arial, Helvetica, sans-serif;
}
td {
    word-break:break-all; 
    word-wrap:break-all;
    font-size:13px;
    font-family:"Open Sans", "Helvetica", "Arial", "Hiragino Sans GB", "Noto Sans CJK SC", "Heiti SC", "Microsoft YaHei", "WenQuanYi Microhei", serif；
}

th td {
	    text-align: center;
}
#gotoadmin {
    margin-right: 10px;
    margin-top: 15px;
    float: right;
}
.form-left {
    display: inline-block;
    margin-top: 10px;
}
#keyword {
    display: inline-block;
    width: 300px; 
}
#update {
    margin-top: 20px;
}
#updateResult,#searchResult {
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;
}