#search {
    text-align: center;
}
.help {
    text-align: center;
}
div.butt {
    text-align:center;
}
div.butt input {
    margin: 10px 0 0 10px;
    background: red;
    color: #fff;
    width: 100px;
    height: 30px;
    font: 14px Verdana, Arial, Helvetica, sans-serif;
}


#con {
    
    height:45px;
    text-align:center;
}
.fenye {
    margin: 4px 4px 4px 4px;
    display:inline-block;
    color: #006400;;
    width: 25px;
    height: 25px;
    text-align:center;
    font: 24px Verdana, Arial, Helvetica, sans-serif;
}
#foot{
    margin: 0 auto;
    text-align: center;
}
#chaxun {
    margin: 10px 0 0 10px;
    background: #AAD7FF;
    width: 80px;
    height: 28px;
    font: 14px Verdana, Arial, Helvetica, sans-serif;
}
.smile {
    font: 80px Verdana, Arial, Helvetica, sans-serif;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}
td {
    word-break:break-all; 
    word-wrap:break-all;
}
